body{
    background-color: rgb(128, 2, 2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
.container{
    text-align: center;

   
}
h1{
     padding: 1em; 
     margin: 1em;
}
.image{
    background-image: url(./img/sapka.jpg);
    /* background-position: center; */
    background-size: cover;
    height: 16em;
    width: 16em;
    margin: 1em 3em;

}

